langchain
openai
pinecone-client
langchain-pinecone
langchain-openai
python-dotenv
pypdf
torch
transformers
accelerate
bitsandbytes
sentence-transformers
faiss-cpu
openpyxl
pacmap
datasets
langchain-community
langchain_community
ragatouille
matplotlib
pinecone
firecrawl-py
chromadb==0.3.25


